img {
  pointer-events: none;
}

.logo-title {
  font-family: monospace;
}

.logo-title {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.circular-animation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  .circular-image {
    height: 60%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.circular-shape {
  animation: spin 120s linear infinite;
  aspect-ratio: 1 / 1;
  height: 85%;
  opacity: 0.9;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  & svg {
    height: 100%;
    overflow: visible;
    width: 100%;
    will-change: transform;
  }
  & circle {
    stroke: var(--circle);
  }
  &:nth-child(2) {
    animation-direction: reverse;
    height: 110%;
    opacity: 0.7;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name-flow-wrapper {
  position: absolute;
  bottom: 15vh;
  left: 0;
  width: 100%;
  padding-bottom: 1.25vh;
  bottom: 2vh;
  .name-flow-inner {
    position: relative;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    .name-flow {
      position: relative;
      display: flex;
      align-items: center;
      animation: infiniteScroll 8s linear infinite;
      & h1 {
        position: relative;
        display: flex;
        align-items: center;
        color: white;
        line-height: 1;
        font-size: 17.5vw;
        font-size: max(7em, 10vw);
        white-space: nowrap;
        pointer-events: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
.name-flow-wrapper .name-flow .spacer {
  padding: 0 3vw;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

.stack-galaxy {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  z-index: 1;
}

.stack {
  background-color: #fff;
  border-radius: 50rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  &.stack-1 {
    margin-top: -15rem;
    margin-left: 22rem;
    height: 5rem;
    width: 5rem;
    svg {
      width: 80%;
      height: 80%;
    }
  }
  &.stack-2 {
    margin-left: -25.5rem;
    height: 4.5rem;
    width: 4.5rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-3 {
    margin-left: -28rem;
    margin-top: -15.5rem;
    height: 3rem;
    width: 3rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-4 {
    margin-left: 33.5rem;
    margin-top: 12rem;
    height: 4rem;
    width: 4rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-5 {
    margin-left: 28rem;
    margin-top: 0rem;
    height: 2.5rem;
    width: 2.5rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-6 {
    margin-left: 34.5rem;
    margin-top: -8rem;
    height: 3rem;
    width: 3rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-7 {
    margin-left: -32.5rem;
    margin-top: -6rem;
    height: 4.5rem;
    width: 4.5rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
  &.stack-8 {
    margin-left: -30rem;
    margin-top: 14rem;
    height: 3rem;
    width: 3rem;
    svg {
      width: 60%;
      height: 60%;
    }
  }
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s box-shadow;
}

.stack:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.stack:hover::before,
.stack:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fa83df;
  background-image: linear-gradient(17deg, #072e67 25%, #6b3c95 50%, #fe8f7e 80%);
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.stack:hover:after {
  background: #7dc0ff;
  background-image: linear-gradient(120deg, #fa83df 20%, #7dc0ff 50%, #04f0df);
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

.circular-image-bg {
  z-index: -1;
  width: 100%;
  max-width: 80rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 0%;
  right: 0;
}

/* WorkPage */
.cards {
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  grid-row-gap: 10rem;
}

.card {
  position: sticky;
  position: -webkit-sticky;
  top: 6rem;
  border-radius: 1.75rem;
  width: 100%;
  /* max-height: 80rem; */
  height: calc(100vh - 6rem);
  overflow: hidden;
}

.work-description-bg {
  background: #fbfbfb;
}

.first .work-image-bg {
  background-image: linear-gradient(106.9deg, rgba(100, 43, 115, 1) 60.9%, rgba(4, 0, 4, 1) 122.3%);
}

.second .work-image-bg {
  background-image: linear-gradient(86.3deg, rgba(0, 119, 182, 1) 3.6%, rgba(8, 24, 68, 1) 87.6%);
}

.third .work-image-bg {
  background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
}

.fourth .work-image-bg {
  background-image: linear-gradient(109.6deg, rgba(96, 221, 142, 1) 11.2%, rgba(24, 138, 141, 1) 91.1%);
}

/* Contact Page  */
.contact-page {
  height: calc(100vh - 8rem);
  /* background-color: #d2d4da; */
  background-color: #f5f5f7;
  border-radius: 1.75rem;
}

/* SideNav */
.sidenav {
  position: fixed;
  z-index: 99;
  right: 0;
  width: 256px;
  transition: width 0.3s ease-in-out;
  height: calc(100vh - 12rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(35px);
  background-color: rgba(16, 9, 25, 0.4);
  overflow: hidden;
  padding-bottom: 2rem;
  top: 6rem;
  bottom: 6rem;
}

.sidenav:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  content: "";
  height: 300%;
  width: 300%;
  left: -100%;
  top: -110%;
  opacity: 0.8;
  position: fixed;
  z-index: -1;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(5%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(5%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.sidenavClosed {
  transition: width 0.3s ease-in-out;
  width: 0;
  right: 0;
  display: none;
}

.sidenav a:hover {
  background-color: rgba(30, 27, 75, 0.7);
}

.sidenav a[aria-current="page"] {
  background-color: rgba(30, 27, 75, 0.4);
}

.sidebar-title {
  background-color: rgba(30, 27, 75, 0.9);
}

.sidenav .social-links {
  font-size: small;
  color: #fff;
}

/* Error Page */

.not-found-page {
  background-color: black;
  color: white;
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: medium;
  font-family: monospace;
}

.not-found-page .error {
  text-align: center;
  text-align: center;
  width: 100%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: distortion-3 1s linear infinite;
  animation: distortion-3 1s linear infinite;
  overflow: default;
}

.not-found-page:after {
  content: "error 404";
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  -webkit-animation: distortion-1 0.2s linear infinite;
  animation: distortion-1 0.2s linear infinite;
}
.not-found-page:before {
  content: "error 404";
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  -webkit-animation: distortion-2 0.2s linear infinite;
  animation: distortion-2 0.2s linear infinite;
}

.not-found-page .info {
  text-align: center;
  width: 200px;
  height: 60px;
  margin: auto;
  position: absolute;
  top: 280px;
  bottom: 0;
  left: 20px;
  right: 0;
  -webkit-animation: distortion-3 1s linear infinite;
  animation: distortion-3 1s linear infinite;
}

.not-found-page .info:before {
  content: "file not found";
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 40px;
  right: 100px;
  opacity: 0;
  color: white;
  -webkit-animation: distortion-2 0.2s linear infinite;
  animation: distortion-2 0.2s linear infinite;
}

.not-found-page .info:after {
  content: "file not found";
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  width: 800px;
  margin: auto;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 40px;
  right: 0;
  opacity: 0;
  color: white;
  -webkit-animation: distortion-1 0.2s linear infinite;
  animation: distortion-1 0.2s linear infinite;
}

@-webkit-keyframes distortion-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}

@keyframes distortion-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}

@-webkit-keyframes distortion-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}

@keyframes distortion-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}

@-webkit-keyframes distortion {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(1.7);
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
}

@keyframes distortion {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(1.7);
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
  }
}

@-webkit-keyframes distortion-3 {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(4);
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(10) rotate(60deg);
    transform: scaleX(10) rotate(60deg);
  }
}

@keyframes distortion-3 {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    -webkit-transform: scaleY(4);
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    -webkit-transform: scaleX(10) rotate(60deg);
    transform: scaleX(10) rotate(60deg);
  }
}

.not-found-page .wrap {
  top: 30%;
  left: 25%;

  height: 200px;

  margin-top: -100px;
  position: absolute;
}
.not-found-page code {
  color: white;
}
.not-found-page span.blue {
  color: #48beef;
}
.not-found-page span.comment {
  color: #7f8c8d;
}
.not-found-page span.orange {
  color: #f39c12;
}
.not-found-page span.green {
  color: #33cc33;
}
